go 1.20

use (
	./AlTeRnAtInGcAsE
	./BeginnerSeries2Clock
	./BinToDec
	./ConvertANumberToAString
	./ConvertAStringToAnArray
	./ConvertBooleansToStrings
	./ConvertNumberToReversedArrayOfDigits
	./CountByX
	./CountOfPositivesSumOfNegatives
	./CountTheDigit
	./CountTheDivisorsOfANumber
	./DisemvowelTrolls
	./GoingToTheCinema
	./GradeBook
	./HighestAndLowest
	./HighestProfitWins
	./ILoveYouALittle
	./IsItAPalindrome
	./IsTheStringUppercase
	./MergeTwoSortedArrays
	./MessiGoalsFunction
	./MovesInSquaredStrings
	./MultiplesOfANumber
	./MultiplicationTableForNumber
	./PowersOf2
	./ReduceButGrow
	./RemoveStringSpaces
	./ReturningStrings
	./ReverseWords
	./RockPaperScissors
	./SmallestIntOfArray
	./SquareSum
	./SumMixedArray
	./TerminalGameMoveFunction
	./ThirdAngleOfATriangle
	./TotalAmountOfPoints
	./TwiceAsOld
	./VolumeOfACuboid
)
