go 1.20

use (
	./AlTeRnAtInGcAsE
	./BeginnerSeries2Clock
	./ConvertANumberToAString
	./ConvertAStringToAnArray
	./ConvertBooleansToStrings
	./CountTheDivisorsOfANumber
	./GradeBook
	./HighestAndLowest
	./HighestProfitWins
	./ILoveYouALittle
	./MergeTwoSortedArrays
	./MessiGoalsFunction
	./PowersOf2
	./ReduceButGrow
	./RemoveStringSpaces
	./ReturningStrings
	./ReverseWords
	./SmallestIntOfArray
	./SquareSum
	./SumMixedArray
	./TerminalGameMoveFunction
	./ThirdAngleOfATriangle
	./TotalAmountOfPoints
	./TwiceAsOld
)
